body{
  background-color: #035397;
}

/* Nagigation Bar */
.navbar-brand{
  padding-right: 800px;
}

/* Main headline */
.name, .name-management, .name-motto, .name-contact{
  background-color: #E8630A;
  margin: 0;
  height: 200px;
  width: 1500px;
  padding-left: 200px;
}


.tag-line, .tag-line-m, .tag-line-motto, .tag-line-contact, .tag-services, .tag-line-moto{
  display: inline-block;
  position: relative;
  bottom: 100px;
  color: #FFF;
  padding-left: 132px;
}
.tag-line-m, .tag-line-motto, .tag-line-contact, .tag-services, .tag-line-moto{
  padding-left: 202px;
}



/* Buttons */

.button-high1, .button-high2{
  display: inline-block;
  position: relative;
  top: 90px;
  left: 310px;
  }
.button-high2{
  left: 320px;
  }


/* Photos in Management */
.photo-container{
  text-align: center;
  color: #FFF;
}
.photo-round{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  padding: 30px;
  }

.photo-president{
  display: inline-block;
  position: relative;
}

.management-padding{
  padding-left: 0;
}

/* Contacts Address */

.contacts-address{
  color: #FFF;
  padding: 5%;
  }

.addresses{
  border: 1px solid;
  padding: 7%;
  text-align: center;
}

.pages-websites{
  padding: 3%;
  text-align: center;
  }

.connect-president{
  padding: 20% 5% 20%;
  text-align: center;
}

/* bottom container */

.bottom-container{
  background-color: #001E6C;
}

.bottom-links{
  color: #FCD900;
  text-align: center;
}

.bottom-links:hover{
  color: #E8630A;
}

.poweredby{
  text-align: center;
  color: #FFF;
}

/* services page-services */
.factory-part, .Hospital-part, .University-part, .Resort-part, .Parlour-part{
color: #FFF;
height: 100px;
width: 1400px;
padding-left: 50px;
}
.Market-part, .School-part, .Restaurant-part, .Trash-part, .Port-part{
  background-color: #FFF;
  text-align: right;
  height: 100px;
  width: 1365px;
  padding-right: 50px;
}









/* small(mobile) screen view */

@media (max-width: 1000px){
  .navbar-brand{
    padding-rig#FFF;
  }


}

@media (min-width: 1001px){
  .management-padding{
    padding-left: 120px;
  }

}
